body, h1 {
    font-family: "Raleway", sans-serif;
}
body, html {
    height: 100%;
}
.bgimg {
    background-image: url('images/paisaje.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
} 

.cloud {
    margin: 3%;
    position: relative;
}
.cloud .text {
    position: absolute;
    text-align: center;
    top: 30px;
    left: 60px;
    font-family: "Raleway", sans-serif;
}